{% extends 'base.html.twig' %}

{% block title %}- Liste des formation
{% endblock %}

{% block body %}


	<h2>Liste des formations disponibles</h2>

	<table class="uk-table uk-table-striped uk-table-responsive">
		<thead>
			<tr>
				<th>Intitulé de la formation</th>
				<th class="uk-text-center">Nombre de session</th>
				<th class="uk-text-center">Domaine</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th class="uk-text-center">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% if formations is not empty %}
				{% for formation in formations %}
					<tr>
						<td>
							<a href="{{ path("show_formation", {"id" : formation.id}) }}">{{ formation }}</a>
							{% if formation.modules %}
								{% for module in formation.modules %}
									|
									<i class="module">{{ module }}</i>
								{% endfor %}
							{% endif %}
						</td>
						<td class="uk-text-center">
							{{ formation.sessions | length() }}
						</td>
						<td class="uk-text-center">
							{% if formation.domaine %}
								<a href="{{ path("show_domaine", {"id" : formation.domaine.id}) }}">{{ formation.domaine }}</a>
							{% else %}
								<i>Non renseigné</i>
							{% endif %}
						</td>
						{% if is_granted("ROLE_ADMIN") %}
							<td class="uk-text-center">
								<a uk-icon="icon: file-edit" href="{{ path("edit_formation", {"id" : formation.id}) }}"></a>
								<a uk-icon="icon: trash" href="{{ path("remove_formation", {"id" : formation.id}) }}"></a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>Aucun résultat</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
