{% extends 'base.html.twig' %}

{% block title %}
	{{ formation }}
{% endblock %}

{% block titre %}
	Gestion des formations
{% endblock %}


{% block body %}
	<h1>Formation :
		<i>{{ formation }}</i>
	</h1>
	<p>
		<b>Modules :</b>
		{% for module in formation.modules %}
			{{module}}
			|
		{% endfor %}

		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path("formation_managemodules", {"id" : formation.id}) }}">+</a>
		{% endif %}
	</p>
	<h3 class="uk-text-center">Liste des sessions pour
		{{ formation }}</h3>

	<table class="uk-table uk-table-striped uk-table-responsive">

		<thead>
			<tr>
				<th>Session</th>
				<th>Nombre de places</th>
				<th>Débute le</th>
				<th>Se termine le</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Modifier</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% if formation.sessions is not empty %}
				{% for session in formation.sessions %}
					<tr>
						<td>
							<a href="{{ path("show_session", {"id" : session.id}) }}">{{ session.titre }}</a>
						</td>
						<td>{{ session.stagiaires | length() }}
							/
							{{ session.nbrPlace }}</td>
						<td>{{ session.dateDebut | date("d/m/Y") }}</td>
						<td>{{ session.dateFin | date("d/m/Y") }}</td>
						<td>
							<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="{{ path("session_edit", {"id" : session.id}) }}"></a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="4" class="uk-text-center">Aucune session ne correspond à votre recherche</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
