{% extends 'base.html.twig' %}

{% block title %}Liste des session!{% endblock %}

{% block body %}

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    {% for session in sessions %}    
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">{{ session }}</h3>
            <ul>
                <li> Date de début de la session : {{ session.dateDebut | date('d/m/Y') }}</li>
                <li> Nombre de stagiaires inscrits: {{ session.stagiaires | length()}} / {{session.nbrPlace }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{#<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Le nombre total de sessions existantes:</h3>
            <p> {{ nbrSessions}}</p>
        </div>
    </div>
   
    <div>
        <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Le nombre total des stagiaires sont:</h3>
             {{ nbrStagiaires}}
        </div>
    </div>
   
</div>#}


{% endblock %}
