{% extends 'base.html.twig' %}

{% block title %} Détails du stagiaire {% endblock %}
{% block body %}
 

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>

<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Nom et prénom du stagiaire</h3>
        <p>{{ stagiaire }}</p>
    </div>
</div>

<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Les sessions associées :</h3>
        {% for session in stagiaire.sessions %}
                {{session.titre}}<br>
        {% endfor %}
    </div>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Autres informations:</h3>
           <ul>
                <li>{{stagiaire.adresse}}<br></li>
                <li>{{stagiaire.cp}}<br></li>
                 <li>{{stagiaire.ville}}<br></li>
           </ul> 
    </div>
</div>

</div>
{% endblock %}
