{% extends 'base.html.twig' %}

{% block title %}
	{{ session }}
{% endblock %}

{% block body %}

	<h1>Session:
		<i>{{ session }}</i>
	</h1>
	<p>
		<b>Formation :</b>
		<a href="{{ path("show_formation", {"id": session.formation.id}) }}">
			<i>{{ session.formation }}</i>
		</a>
		<br>
		<b>Nombre de places max :</b>
		<i>{{ session.nbrPlace }}</i>
		<br>
		<b>Du
		</b>
		<i>{{ session.dateDebut | date("d/m/Y") }}</i>
		<b>
			au
		</b>
		<i>{{ session.dateFin | date("d/m/Y") }}</i>
		<br>
		<br>
		<b>Nombre de stagiaires actuellement :</b>
		<i>{{ session.stagiaires | length() }}</i>
		<br>
		<b>Nombre de places restantes :</b>
		<i>{{ session.nbrPlace - (session.stagiaires | length()) }}</i>
	</p>


	<table class="uk-table uk-table-responsive uk-table-striped">
		<thead>
			<tr>
				<th>Stagiaires</th>
				{% if session.hasBegun() == false  %}
					<th class="uk-text-center">Actions</th>
				{% endif %}
			</tr>
		</thead>

		<tbody>
			{% for stagiaire in session.stagiaires %}
				<tr>
					<td>
						<a href="{{ path("stagiaire_show", {"id" : stagiaire.id}) }}">{{stagiaire}}</a>
					</td>
					{% if session.hasBegun() == false  %}
						<td class="uk-text-center">
							<a uk-icon="icon: sign-out" href="{{ path('stagiaire_delete',{'id':stagiaire.id, 'sid': session.id}) }}" #}>
								Retirer de la session
							</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tr>
				<td class="uk-text-center" colspan="2">
					{% if session.hasBegun() == false %}
						{% if session.stagiaires | length() < session.nbrPlace %}
							<a href="{{ path("manage_session", {"id": session.id}) }}">+ Ajouter un stagiaire à cette session</a>
						{% else %}
							Nombre maximal de stagiaires atteint pour cette session de formation.<br>
							Ajout de stagiaires impossible.
						{% endif %}
					{% else %}
						Cette session a déjà commencé !<br>
						Ajout de stagiaires impossible.
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
