{% extends 'base.html.twig' %}

{% block title %}
	{{ session }}
{% endblock %}

{% block body %}

	<h1>Formation:
		{{ session.formation }}
	</h1>
	<h2>
		La liste des stagiaires dans la session :
		{{ session }}
	</h2>
	
   
	<table class="uk-table uk-table-divider">
		<thead>
			<tr>
				<th>Stagiaires</th>
				{% if session.hasBegun() == false  %} 
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>

		<tbody>
			{% for stagiaire in session.stagiaires %}
				<tr>
					<td>{{stagiaire}}</td>
						{% if session.hasBegun() == false  %} 
							<td><a class="uk-icon-link" uk-icon="trash" href="{{ path('stagiaire_delete',{'id':stagiaire.id, 'sid': session.id}) }}"#}></a></td>
						{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
    
{% endblock %}
