{% extends 'base.html.twig' %}

{% block title %}-
	{{ domaine }}
{% endblock %}

{% block body %}
	<h1>{{ domaine }}</h1>

	<h3>Liste des formations en :
		{{ domaine }}</h3>

	<hr>

	<table class="uk-table uk-table-responsive">
		<thead>
			<tr>
				<th>Intitulé de la formation</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% if domaine.formations %}
				{% for formation in domaine.formations %}
					<tr>
						<td>
							<a href="{{ path("show_formation", {"id" : formation.id}) }}">{{ formation }}</a>
							{% if formation.modules %}
								{% for module in formation.modules %}
									|
									<i class="module">{{ module }}</i>
								{% endfor %}
							{% endif %}
						</td>
						{% if is_granted("ROLE_ADMIN") %}
							<td>
								<a href="{{ path("edit_formation", {"id" : formation.id}) }}">Modifier</a>
								<a href="{{ path("remove_formation", {"id" : formation.id}) }}">Supprimer</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="2">Aucune formation en
						{{ domaine }}
						n'a été renseignée pour le moment</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
