{% extends 'base.html.twig' %}

{% block title %}-
	{{ domaine }}
{% endblock %}

{% block body %}
	<h1>Domaine :
		<i>{{ domaine }}</i>
	</h1>

	<h3 class="uk-text-center">Toutes les formations en :
		{{ domaine }}</h3>


	<table class="uk-table uk-table-striped uk-table-responsive">
		<thead>
			<tr>
				<th>Intitulé de la formation</th>
				{% if is_granted("ROLE_ADMIN") %}
					<th>Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% if domaine.formations is not empty %}
				{% for formation in domaine.formations %}
					<tr>
						<td>
							<a href="{{ path("show_formation", {"id" : formation.id}) }}">{{ formation }}</a>
							{% if formation.modules %}
								{% for module in formation.modules %}
									|
									<i class="module">{{ module }}</i>
								{% endfor %}
							{% endif %}
						</td>
						{% if is_granted("ROLE_ADMIN") %}
							<td>
								<a uk-icon="icon: file-edit" href="{{ path("edit_formation", {"id" : formation.id}) }}"></a>
								<a uk-icon="icon: trash" href="{{ path("remove_formation", {"id" : formation.id}) }}"></a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>
						Aucune formation en
						{{ domaine }}
						n'a été renseignée pour le moment
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
